body{
  background-color: #cfe8ef;
}

h1,p{
  text-align: center;
  color: #006494;
}

.container{
  display:flex;
  background-color:#006494;
  width:1845px;
  margin:20px auto;
  content:center;
}

.container div{
  background-color:#ffc8dd;
  margin: 10px;
    padding: 20px;
  font-size: 24px;
  content:center;
}

footer{
  background: white;
  color:#ff90b3;
  text-align:center;
  padding: 2rem;
  margin-top: 2rem;
}

.social{
  display:flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #cfe8ef;
  color:#ff8fab;
  border-radius: 50%;
  text-decoration: none;
  font-size:1.5rem;
}